@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  --primaryFont: "Outfit";
  
  --White: hsl(0, 0%, 100%);
  --Slate300: hsl(212, 45%, 89%);
  --Slate500: hsl(216, 15%, 48%);
  --Slate900: hsl(218, 44%, 22%);

}

*,*::after,*::before{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
}
img{
  max-width: 100%;
}
body{
  background-color: var(--Slate300);
  font-family: var(--primaryFont);
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  max-width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;  
  
}
.card{
  background-color: var(--White);
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}
.card img{
  border-radius: 8px;
}
.card h4{
  color: var(--Slate900);
  font-size: 18px;
  padding: 10px;
}
.card p{
  color: var(--Slate500);
  padding-bottom: 15px;
}