@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  --primaryFont: "Outfit";
  
  --White: hsl(0, 0%, 100%);
  --Slate300: hsl(212, 45%, 89%);
  --Slate500: hsl(216, 15%, 48%);
  --Slate900: hsl(218, 44%, 22%);

}

*,*::after,*::before{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
html,body{
  height: 100vh;
}
img{
  max-width: 100%;
  height: auto;
}
body{
  background-color: var(--Slate300);
  font-family: var(--primaryFont);
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  max-width: 16rem;
}
.card{
  background-color: var(--White);
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}
.card img{
  border-radius: .5rem;
}
.card h1{
  color: var(--Slate900);
  font-size: 1.125rem;
  padding: .75rem .5rem;
}
.card p{
  color: var(--Slate500);
  font-size: .80rem;
  padding: 0 .5rem;
  margin-block-end: 1rem; /*Instead of margin-bottom */
}
